<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Capture</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div id="cameraContainer">
                <video id="camera" autoplay></video>
            </div>
            <div id="frameContainer">
                <div class="frame" id="frame1"></div>
                <div class="frame" id="frame2"></div>
                <div class="frame" id="frame3"></div>
                <div class="frame" id="frame4"></div>
                <p>[ 인생네컷 ]</p>
                <button id="sendButton" class="send-button">Send</button>
            </div>
        </div>
        <div id="controls">
            <button id="captureButton" class="capture-button"></button>
        </div>
        <div id="photoGallery"></div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
