<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Capture</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div id="cameraContainer">
            <video id="camera" autoplay></video>
        </div>
        <div id="controls">
            <button id="captureButton" class="capture-button"></button>
        </div>
        <div id="photoGallery"></div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>